---
Checks: 'clang-diagnostic-*,
         clang-analyzer-*,
         bugprone-*,
         modernize-*,
         performance-*,
         readability-*,
         cppcoreguidelines-*,
         hicpp-*,
         misc-*,
         concurrency-*,
         -modernize-use-trailing-return-type,
         -readability-braces-around-statements,
         -readability-implicit-bool-conversion,
         -readability-redundant-declaration,
         -cppcoreguidelines-pro-type-vararg,
         -hicpp-no-assembler,
         -hicpp-vararg,
         -readability-identifier-length,
         -readability-function-cognitive-complexity,
         -cppcoreguidelines-avoid-const-or-ref-data-members,
         -misc-non-private-member-variables-in-classes,
         -bugprone-easily-swappable-parameters'
WarningsAsErrors: ''
HeaderFilterRegex: 'include/.*'
FormatStyle: none
CheckOptions:
  - key:             modernize-use-auto.MinTypeNameLength
    value:           '5'
  - key:             modernize-use-default-member-init.UseAssignment
    value:           'true'
  - key:             misc-const-correctness.AnalyzeValues
    value:           'true'
  - key:             misc-const-correctness.WarnPointersAsValues
    value:           'true'
...
