---
Checks: 'clang-diagnostic-*,
         clang-analyzer-*,
         bugprone-*,
         modernize-*,
         performance-*,
         readability-*,
         cppcoreguidelines-*,
         hicpp-*,
         misc-*,
         -modernize-use-trailing-return-type,
         -readability-braces-around-statements,
         -readability-implicit-bool-conversion,
         -readability-redundant-declaration,
         -cppcoreguidelines-pro-type-vararg,
         -cppcoreguidelines-pro-type-member-init,
         -hicpp-no-assembler,
         -hicpp-vararg'
WarningsAsErrors: ''
HeaderFilterRegex: 'include/.*'
FormatStyle: none
CheckOptions:
  - key:             modernize-use-auto.MinTypeNameLength
    value:           '5'
  - key:             modernize-use-default-member-init.UseAssignment
    value:           'true'
...
